<details class="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            What do we mean by UK nexus?
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>You must comply with UK sanctions if you're:</p>
        <ul>
            <li>an individual or business within the territory and territorial sea of the UK</li>
            <li>a UK national or a UK business, anywhere in the world</li>
        </ul>
        <p>We call this connection to the UK, a UK nexus.</p>
    </div>
</details>
