.hidden {
    display: none;
}

.js-enabled .show-on-js-enabled {
    display: block;
}

.js-enabled .hide-on-js-enabled {
    display: none;
}

.js-disabled .show-on-js-disabled {
    display: block;
}

.js-disabled .hide-on-js-disabled {
    display: none;
}

.js-disabled .govuk-radios__conditional--hidden {
    display: block;
}

.text-centre {
    text-align: center;
}

.flex-parent {
    display: flex;
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: 1rem;
}

.button-that-looks-like-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    color: #1d70b8;
    font-size: 19px;
    margin-top: 10px;
    text-decoration: underline;
}

.govuk-summary-list__key {
    width: 50%;
}

@media print {
    .hide-on-print {
        display: none !important;
    }

    .show-on-print {
        display: block !important;
    }

    /* Making the printed version full-width */
    .govuk-grid-column-two-thirds {
        width: 100%;
    }
}
