{% extends "core/base.html" %}
{% block cookie_banner %}{% endblock cookie_banner %}
{% block title %}Licence applications to provide sanctioned trade services{% endblock title %}
{% block back_button %}{% endblock back_button %}
{% block column_content %}
    <div>
        <h1 class="govuk-heading-l">
            Licence applications to provide sanctioned trade services
        </h1>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    </div>
    <form method="get" action="{% url 'view_a_licence:application_list' %}" id="sort_form">
        {% csrf_token %}
        <div class="govuk-form-group">
            <label class="govuk-label" for="sort">Sort by
                <select class="govuk-select" id="sort_by" name="sort_by"
                        onchange="document.getElementById('sort_form').submit();">
                    <option value="newest" {% if selected_sort == "newest" %} selected {% endif %}>Date of report
                        (newest)
                    </option>
                    <option value="oldest" {% if selected_sort == "oldest" %} selected {% endif %}>Date of report
                        (oldest)
                    </option>
                </select></label>
        </div>
    </form>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% for licence_application in object_list %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
            <a href="{% url 'view_a_licence:view_application' reference=licence_application.reference %}" class="govuk-link">
                View licence application reference: {{ licence_application.reference }}
            </a></h3>
        <div class="govuk-body">
            <h3 class="govuk-heading-s govuk-summary-list__value">Purpose for providing the service</h3>
            {% include "apply_for_a_licence/partials/truncated_text.html" with text=licence_application.purpose_of_provision|linebreaksbr %}
        </div>
        <dl class="govuk-summary-list govuk-summary-list--no-border mb-1">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                    Submitted by:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                    {{ licence_application.applicant_full_name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                    Proposed licensee:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                    {% for licensee in licence_application.licensees %}
                        {{ licensee.name }}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </dd>
            </div>
            {% if licence_application.held_existing_licence %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                        Previous licence number:
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                        {{ licence_application.existing_licences | linebreaksbr }}
                    </dd>
                </div>
            {% endif %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                    Services being provided:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                    {{ licence_application.get_type_of_service_display }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                    Submitted on:
                </dt>
                <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                    {{ licence_application.created_at }}
                </dd>
            </div>
            {% if licence_application.documents.count %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-caption-m govuk-!-font-weight-regular">
                        Files uploaded:
                    </dt>
                    <dd class="govuk-summary-list__value govuk-!-font-weight-bold">
                        {% for document in licence_application.documents.all %}
                            <a class="govuk-link" href="{{ document.url }}">{{ document.file_name }}</a>
                            {% if not forloop.last %}
                                <br>
                            {% endif %}
                        {% endfor %}
                    </dd>
                </div>
            {% endif %}
        </dl>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible mb-1">
    {% endfor %}

    <nav class="govuk-pagination" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page_obj.previous_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev"
                         xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                         focusable="false" viewBox="0 0 15 13">
                        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                        Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                </a>
            </div>
        {% endif %}

        <ul class="govuk-pagination__list">
            {% for i in page_obj.paginator.page_range %}
                {% if i == page_obj.number %}
                    <li class="govuk-pagination__item govuk-pagination__item--current">
                        <a class="govuk-link govuk-pagination__link" href="?page={{ i }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" aria-label="Page {{ i }}" aria-current="page">
                            {{ i }}
                        </a>
                    </li>
                {% else %}
                    <li class="govuk-pagination__item">
                        <a class="govuk-link govuk-pagination__link" href="?page={{ i }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" aria-label="Page {{ i }}">
                            {{ i }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if page_obj.has_next %}
            <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="?page={{ page_obj.next_page_number }}{% if sort_by %}&sort_by={{ sort_by }}{% endif %}" rel="next">
                    <span class="govuk-pagination__link-title">
                        Next<span class="govuk-visually-hidden"> page</span>
                    </span>
                    <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                </a>
            </div>
        {% endif %}
    </nav>

{% endblock column_content %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        $(document).ready(function () {
            $('body').on('click', '.read_more_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').addClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').removeClass('hidden');
            });
            $('body').on('click', '.read_less_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').removeClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').addClass('hidden');
            })
        })
    </script>
{% endblock extra_js %}
