{% extends "core/base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block cookie_banner %}{% endblock cookie_banner %}
{% block title %}View Licence Application{% endblock title %}
{% block back_button %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <a class="govuk-back-link govuk-link--no-visited-state"
               href="{% url 'view_a_licence:application_list' %}">{{ back_button_text }}</a>
        </div>
        {% block download_link %}{% endblock download_link %}
    </div>
{% endblock back_button %}
{% comment %}
    TODO: remove comments and update dummy template when DST-798 is complete
    {% block download_link %}
    <div class="govuk-grid-column-one-half govuk-!-text-align-right govuk-!-margin-top-3 hide-on-print">
        <a href="{% url 'view_a_licence:download_application' %}?reference={{ licence.reference }}" class="govuk-link--muted govuk-body-s" target="_blank">Download application</a>
    </div>
{% endblock download_link %}

{% block column_content %}
    <h1 class="govuk-heading-xl">Licence application: {{ licence.reference }}</h1>
    <dl class="govuk-summary-list">
        <h2 class="govuk-heading-m">Applicant details</h2>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Full name
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.applicant_full_name }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Email address
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.applicant_user_email_address }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Business applicant works for
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.applicant_business }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Role
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.applicant_role }}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Is this person an external third party?
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.is_third_party|yesno:"Yes,No" }}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Who the licence covers</h2>
    {% if licence.who_do_you_want_the_licence_to_cover == "business" %}
        {% for organisation in licence.organisations.all %}
            {% if organisation.type_of_relationship == "business" %}
                <div class="action-wrapper">
                    <h3 class="govuk-heading-s"> Business {{ forloop.counter }}</h3>
                </div>
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            Business name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ organisation.name }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            Address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            {{ organisation.readable_address | linebreaksbr }}
                        </dd>
                    </div>
                </dl>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if licence.who_do_you_want_the_licence_to_cover == "myself" or licence.who_do_you_want_the_licence_to_cover == "individual" %}
        {% for individual in licence.individuals.all %}
            <h3 class="govuk-heading-s"> Individual {{ forloop.counter }}</h3>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ individual.full_name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Connection to the UK
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ individual.get_nationality_and_location_display }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Location of individual
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ individual.get_country_display }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% include "apply_for_a_licence/partials/truncated_text.html" with text=individual.readable_address|linebreaksbr %}
                    </dd>
                </div>
            </dl>
        {% endfor %}
        <h2 class="govuk-heading-m">Business the individuals work for</h2>
        {% if licence.who_do_you_want_the_licence_to_cover == "individual" %}
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Business name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ business_individuals_work_for.name }}
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        Address
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% include "apply_for_a_licence/partials/truncated_text.html" with text=business_individuals_work_for.readable_address|linebreaksbr %}
                    </dd>
                </div>
            </dl>
        {% endif %}
    {% endif %}
    <div class="action-wrapper">
        <h2 class="govuk-heading-m">Previous licence</h2>
    </div>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Previous licence
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.held_existing_licence|capfirst }}
            </dd>

        </div>
        {% if licence.held_existing_licence == "yes" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Previous licence numbers
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ licence.existing_licences|linebreaksbr }}
                </dd>
            </div>
        {% endif %}
    </dl>
    <h2 class="govuk-heading-m">Overview of the services</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Type of services
            </dt>
            <dd class="govuk-summary-list__value">
                {{ licence.get_type_of_service_display }}
            </dd>
        </div>
        {% if licence.type_of_service == "professional_and_business" %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Specific services
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for service in licence.get_professional_or_business_services_display %}
                        {{ service }}
                        {% if not forloop.last %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        {% if licence.regimes %}
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    What is the sanctions regime?
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for regime in licence.regimes %}
                        {{ regime }}
                        {% if not forloop.last %}
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Description of the services
            </dt>
            <dd class="govuk-summary-list__value">
                {% include "apply_for_a_licence/partials/truncated_text.html" with text=licence.service_activities|linebreaksbr %}
            </dd>
        </div>
    </dl>
    <h2 class="govuk-heading-m">Recipients of the services</h2>
    {% for recipient in licence.recipients %}
        <h3 class="govuk-heading-s">Recipient {{ forloop.counter }}</h3>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Name and address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ recipient.name }}
                    <br><br>
                    {{ recipient.readable_address }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Website
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if recipient.website %}
                        <a class="govuk-link"
                           href="{{ recipient.website }}">
                            {{ recipient.website }}<span class="govuk-visually-hidden"></span>
                        </a>
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Additional contact information
                </dt>
                <dd class="govuk-summary-list__value">
                    {% include "apply_for_a_licence/partials/truncated_text.html" with text=recipient.additional_contact_details|linebreaksbr %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Relationship between the provider of the services and the recipient
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ recipient.relationship_provider }}
                </dd>
            </div>
        </dl>
    {% endfor %}
    <h2 class="govuk-heading-m">Purpose of the services</h2>
    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular" data-testid="">
                {% if "legal_advisory" in licence.professional_or_business_services %}
                    Licensing grounds for the relevant activity
                {% else %}
                    Licensing grounds
                {% endif %}
            </dt>
            <dd class="govuk-summary-list__value">
                {% for ground in licence.get_licensing_grounds_display %}
                    {{ ground }}
                    {% if not forloop.last %}
                        <br><br>
                    {% endif %}
                {% endfor %}
            </dd>
        </div>
        {% if "legal_advisory" in licence.professional_or_business_services and licence.professional_or_business_services|length > 1 %}
            <div class="govuk-summary-list__row" data-testid="licensing-grounds-legal-advisory-box">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    Licensing grounds (excluding legal advisory)
                </dt>
                <dd class="govuk-summary-list__value">
                    {% for ground in licence.get_licensing_grounds_legal_advisory_display %}
                        {{ ground }}
                        {% if not forloop.last %}
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </dd>
            </div>
        {% endif %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Purpose of the service
            </dt>
            <dd class="govuk-summary-list__value">
                {% include "apply_for_a_licence/partials/truncated_text.html" with text=licence.purpose_of_provision|linebreaksbr %}
            </dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                Supporting documents
            </dt>
            <dd class="govuk-summary-list__value">
                {% if not licence.documents.exists %}
                    None uploaded
                {% else %}
                    {% for document in licence.documents.all %}
                        <a href="{{ document.url }}" download>{{ document.file_name }}</a><br>
                    {% endfor %}
                {% endif %}
            </dd>
        </div>
    </dl>

{% endblock column_content %}



{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" nonce="{{ request.csp_nonce }}">
        $(document).ready(function () {
            $('body').on('click', '.read_more_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').addClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').removeClass('hidden');
            });
            $('body').on('click', '.read_less_button', function () {
                $(this).closest('.text_truncator').find('.truncated_text').removeClass('hidden');
                $(this).closest('.text_truncator').find('.expanded_text').addClass('hidden');
            })
        })
    </script>
{% endblock extra_js %}
