{% extends "core/base_download_pdf.html" %}
<div class="page-margin">
    {% block column_content %}
        <div>
            <h1 class="govuk-heading-l">{{ header }}</h1>
        </div>
        <h2 class="govuk-heading-m">Reference number: {{ reference }}</h2>

        <h2 class="govuk-heading-m">Applicant details</h2>
        <dl class="govuk-summary-list govuk-summary-list--no-border">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    <strong>Full name:</strong> {{ licence.applicant_full_name }}
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    <strong>Email address:</strong> {{ licence.applicant_user_email_address }}<br>
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    <strong>Business applicant works for:</strong> {{ licence.applicant_business }}<br>
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    <strong>Role:</strong> {{ licence.applicant_role }}<br>
                </dt>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                    <strong>Is this person a third party?</strong> {{ licence.is_third_party|yesno:"Yes,No" }}<br>
                </dt>
            </div>
        </dl>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Who the licence covers</h2>
                {% if licence.who_do_you_want_the_licence_to_cover == "business" %}
                    {% for organisation in licence.organisations.all %}
                        {% if organisation.type_of_relationship == "business" %}
                            <h3 class="govuk-heading-s">Business {{ forloop.counter }}</h3>
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Business name:</strong> {{ organisation.name }}<br>
                            </dt></div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                    <strong>Address:</strong> {{ organisation.readable_address | linebreaksbr }}<br></dt></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if licence.who_do_you_want_the_licence_to_cover == "myself" or licence.who_do_you_want_the_licence_to_cover == "individual" %}
                    {% for individual in licence.individuals.all %}
                        <div class="govuk-summary-list__row">
                            <h3 class="govuk-heading-s">Individual {{ forloop.counter }}</h3>
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Name:</strong> {{ individual.full_name }}<br>
                            </dt></div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Connection to the UK:</strong> {{ individual.get_nationality_and_location_display }}<br></dt></div>
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Address:</strong><br> {{ individual.readable_address|linebreaksbr }}<br></dt></div>

                    {% endfor %}
                {% endif %}
            </dl>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <h2 class="govuk-heading-m">Previous licence</h2>
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        <strong>Previous licence held:</strong> {{ licence.held_existing_licence|capfirst }} <br>
                    </dt></div>
                {% if licence.held_existing_licence == "yes" %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            <strong>Previous licence numbers:</strong> {{ licence.existing_licences|linebreaksbr }}
                        </dt></div>
                {% endif %}
            </dl>

            <h2 class="govuk-heading-m">Overview of the services</h2>

            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular"><strong>Type of services:</strong>
                        {{ licence.get_type_of_service_display }}
                    </dt></div>
                {% if licence.professional_or_business_services %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            <strong>Specific services:</strong>
                            {% for service in licence.get_professional_or_business_services_display %}
                                {% if forloop.first %}<br>{% endif %}
                                {{ service }}
                                {% if not forloop.last %}
                                    <br>
                                {% endif %}
                            {% endfor %}
                        </dt></div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        <strong>Description of the services:</strong> {{ licence.service_activities|linebreaksbr }}
                    </dt></div>
            </dl>

            <h2 class="govuk-heading-m">Recipients of the services </h2>
            {% for recipient in licence.recipients %}
                <dl class="govuk-summary-list">
                    <h3 class="govuk-heading-s">Recipient {{ forloop.counter }}</h3>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            <strong>Name and address:</strong>
                            {{ recipient.name }}
                            <br><br>
                            {{ recipient.readable_address }}</dt></div>
                    {% if recipient.website %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Website:</strong> {{ recipient.website }}<br></dt></div>
                    {% endif %}
                    {% if recipient.additional_contact_details %}
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                                <strong>Additional contact information:</strong> {{ recipient.additional_contact_details|linebreaksbr }}</dt></div>
                    {% endif %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            <strong>Relationship between the provider of the services and the recipient:</strong> {{ recipient.relationship_provider }}</dt></div>
            {% endfor %}

        </dl>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <h2 class="govuk-heading-m">Purpose of the services </h2>
                {% if licence.licensing_grounds %}
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        {% if "legal_advisory" in licence.professional_or_business_services %}
                            <strong>Licensing grounds for the relevant activity:</strong>
                        {% else %}
                            <strong>Licensing grounds:</strong>
                        {% endif %}
                        {% for ground in licence.get_licensing_grounds_display %}
                            {{ ground }}
                            {% if not forloop.last %}
                                <br><br>
                            {% endif %}
                        {% endfor %}
                    </dt></div>
                {% endif %}
                {% if licence.licensing_grounds_legal_advisory %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                            <strong>Licensing grounds for other services (not legal advisory):</strong>
                            {% for ground in licence.get_licensing_grounds_legal_advisory_display %}
                                {{ ground }}
                                {% if not forloop.last %}
                                    <br><br>
                                {% endif %}
                            {% endfor %}
                        </dt></div>
                {% endif %}
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        <strong>Purpose for providing the services:</strong> {{ licence.purpose_of_provision|linebreaksbr }}</dt></div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        <strong>Supporting documents:</strong>
                        {% if not licence.documents.exists %}
                            None uploaded
                        {% else %}
                            {% for document in licence.documents.all %}
                                <br>{{ document.file_name }}<br>
                            {% endfor %}
                        {% endif %}
                    </dt></div>
            </dl>


    {% endblock column_content %}
</div>
