{% extends "core/base.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block meta %}<meta name="Accessibility statement – Apply for a licence to provide sanctioned trade services – GOV.UK" content="Information about the accessibility of the ‘Apply for a licence to provide sanctioned trade services’ service."> {% endblock meta %}
{% block title %}Accessibility statement{% endblock title %}
{% block column_content %}

    <h1 class="govuk-heading-l">Accessibility statement</h1>
    <p class="govuk-body">This statement applies to the ‘Apply for a licence to provide sanctioned trade services’ service.  </p>
    <p class="govuk-body">This service is part of the wider GOV.UK website. There's a separate <a href="https://www.gov.uk/help/accessibility-statement/" class="govuk-link">accessibility statement for the main GOV.UK website</a>.</p>
    <p class="govuk-body">This service is run by the Department for Business and Trade (DBT). We want as many people as possible to use it. For example, that means you should be able to:  </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 200% without the text spilling off the screen</li>
        <li>get from the start of the service to the end using just a keyboard or speech recognition software</li>
        <li>listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
    </ul>
    <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
    <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk" class="govuk-link" target="_blank">AbilityNet</a>
        has advice on making your device easier to use if you have a disability.</p>

    <h2 class="govuk-heading-m">Feedback and contact information</h2>
    <p class="govuk-body">If you need accessibility support to access this service, email
        <a href="mailto:{{ otsi_email }}" class="govuk-link">{{ otsi_email }}</a>.</p>
    <p class="govuk-body">If you find any problems not listed on this page or think we do not meet accessibility requirements, contact us. We’ll consider your request and get back to you within 20 days.</p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>
    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.gov.uk/equality-advisory-support-service/" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.</p>

    <h2 class="govuk-heading-m">Technical information about the accessibility of this service</h2>
    <p class="govuk-body">DBT is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <h3 class="govuk-heading-s">Compliance status</h3>
    <p class="govuk-body">This service is fully compliant with the
        <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines (WCAG)</a>
        version 2.2 AA standard.</p>

    <h3 class="govuk-heading-s">Content that is not within the scope of the accessibility regulations</h3>
    <p class="govuk-body">There are some usability issues that fall outside the scope of the UK accessibility regulations. These include:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>some of the colour combinations do not meet enhanced contrast ratios and may be difficult for people with colour vision deficiency to read</li>
        <li>error prevention is low in some places, which means users may accidentally submit incorrect information</li>
        <li>users of speech recognition software may find it difficult to start a file upload, and may need to use keyboard or mouse commands instead</li>
        <li>when an error message appears, keyboard users may not be able to skip straight from the error summary to the input field where the error occurred</li>
        <li>some error messages do not fully describe the error that occurred and how to fix it</li>
    </ul>
    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
    <p class="govuk-body">This statement was prepared on 23 September 2024. It was last reviewed on 13 November 2024.</p>
    <p class="govuk-body">This service was last tested on 2 September 2024 against the WCAG 2.2 AA standard. The test was carried out by the
        <a href="https://digitalaccessibilitycentre.org/" class="govuk-link">Digital Accessibility Centre (DAC)</a>.</p>

{% endblock column_content %}
