{% extends "core/base_logged_in_template.html" %}
{% load crispy_forms_tags crispy_forms_gds static %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock extra_css %}

{% block title %}
    {% if form.errors %}
        Error:
    {% endif %}
    {% if form.form_h1_header %}
        {{ form.form_h1_header }}
    {% else %}
        {% for field in form %}
            {% if forloop.first %}
                {{ field.label }}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock title %}

{% block column_content %}
    {% error_summary form %}
    <form action="{% block form_action %}{{ request.get_full_path }}{% endblock form_action %}" method="post" enctype='multipart/form-data' novalidate>
        {% if form.form_h1_header %}
            <h1 class="govuk-heading-l">{{ form.form_h1_header }}</h1>
        {% endif %}
        {% csrf_token %}
        {% block form_content %}
            {% crispy form %}
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                {% if skip_link %}
                    <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4" href="{% url 'tasklist' licence_pk=licence.id %}">Skip for now and return to task list</a>
                {% endif %}
            </div>

        {% endblock form_content %}
    </form>
{% endblock column_content %}

{% block extra_js %}
    {{ block.super }}
    {{ form.media.js }}
{% endblock extra_js %}
