{% extends "core/base.html" %}
{% block meta %}<meta name="Help and support – Apply for a licence to provide sanctioned trade services – GOV.UK"> {% endblock meta %}
{% block title %}Get help with your suspected breach report {% endblock title %}
{% block column_content %}

    <h1 class="govuk-heading-l">Get help with your licence application</h1>

    <h2 class="govuk-heading-m">Enquiry form</h2>
    <p class="govuk-body">Contact the Office of Trade Sanctions Implementation (OTSI) using the <a href="https://submit.forms.service.gov.uk/form/3576/contact-otsi/12324" class="govuk-link">enquiry form</a>.
        <br> OTSI aims to respond to you within 2 working weeks.
    </p>
    <h2 class="govuk-heading-m">Email</h2>
    <p class="govuk-body"> Email OTSI at <a href="mailto:OTSI@businessandtrade.gov.uk" class="govuk-link">OTSI@businessandtrade.gov.uk</a>:</p>
    <ul class="govuk-list govuk-list--bullet" style="margin-left:20px">
        <li>for technical issues</li>
        <li>if you need support using the online service</li>
    </ul>
    <h2 class="govuk-heading-m">Address</h2>
    <p class="govuk-body">Office of Trade Sanctions Implementation (OTSI)<br>
        Old Admiralty Building<br>
        Admiralty Place<br>
        London<br>
        SW1A 2DY<br>
        United Kingdom<br></p>
{% endblock column_content %}
