{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}
{% block title %}
    {% if form.errors %}
        Error:
    {% endif %}
    Declaration
{% endblock title %}
{% block form_content %}
    <h1 class="govuk-heading-m">Declaration</h1>
    <p class="govuk-body">By submitting this:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>you confirm that the information you've given is correct to the best of your knowledge</li>
        <li>you understand and accept that the information you've given may be shared with other departments, agencies and international partners, in accordance with the disclosure of information regulations (in the relevant sanctions regulations)</li>
        <li>you have read our <a href="{% url 'privacy_notice' %}" class="govuk-link govuk-link--no-underline">privacy notice</a></li>
    </ul>
    {% crispy form %}
    <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
            Submit
        </button>
        {% if skip_link %}
            <a class="govuk-link govuk-link--no-visited-state govuk-!-margin-left-4" href="{% url 'tasklist' licence_pk=licence.id %}">Skip for now and return to task list</a>
        {% endif %}
    </div>
{% endblock form_content %}
