{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}


{% block title %}You've added {{ individuals|length }} individual{% if individuals|length > 1 or individuals|length == 0 %}s{% endif %}{% endblock title %}

{% block column_content %}
    <h1 class="govuk-heading-l">
        You've added {{ individuals|length }} individual{% if individuals|length > 1 or individuals|length == 0 %}s{% endif %}
    </h1>
    {% for individual in individuals %}
        <div class="action-wrapper">
            <div>
                <h2 class="govuk-heading-m" style="float:left;">Individual {{ forloop.counter }} </h2>
                <ul class="govuk-summary-card__actions">
                    <dd class="govuk-summary-list__action govuk-!-font-weight-regular">
                        <a class="govuk-link" style="font-size: 19px; text-align:right"
                           <a href="{% url 'add_an_individual' licence_pk=licence.id %}?individual_id={{individual.id}}">Change<span
                            class="govuk-visually-hidden"> individual {{forloop.counter}} details </span></a>
                    </dd>
                </ul>
            </div>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value" data-testid="individual-name-{{ forloop.counter }}">
                    {% if individual.first_name or individual.last_name %}
                        {{ individual.first_name }} {{individual.last_name}}
                    {% else %}
                        Not yet added
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Nationality and location
                </dt>
                <dd class="govuk-summary-list__value" data-testid="individual-nationality-location-{{ forloop.counter }}">
                    {% if individual.get_nationality_and_location_display %}
                        {{ individual.get_nationality_and_location_display }}
                    {% else %}
                        Not yet added
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value" data-testid="individual-address-{{ forloop.counter }}">
                    {% if individual.readable_address %}
                        {{ individual.readable_address | linebreaksbr }}
                    {% else %}
                        Not yet added
                    {% endif %}
                </dd>
            </div>
            {% if individuals|length > 1 %}
                <form id="delete_individual_form_{{ forloop.counter }}" method="post" enctype='multipart/form-data' novalidate
                      action="{% url 'delete_individual' licence_pk=licence.id individual_id=individual.id%}">
                    <input type="hidden" name="individual_id" value="{{ individual.id }}">
                    {% csrf_token %}
                    <button type="submit" class="govuk-body button-that-looks-like-link" form="delete_individual_form_{{ forloop.counter }}">
                        Remove Individual {{ forloop.counter }}
                    </button>
                </form>
            {% endif %}
        </dl>
    {% endfor %}
    {% error_summary form %}
    <form action="{{ request.get_full_path }}" method="post" enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        {% block form_content %}
            {% crispy form %}
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                {% if skip_link %}
                    <a class="govuk-link govuk govuk-!-margin-left-4" href="{% url 'tasklist' licence_pk=licence.id %}">Skip for now and return to task list</a>
                {% endif %}
            </div>
        {% endblock form_content %}
    </form>
{% endblock column_content %}
