{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}

{% block row_content %}
    <div class="govuk-grid-column-three-quarters">
        {% block column_content %}
            <fieldset class="govuk-fieldset" aria-describedby="radios">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-l">We cannot check the registered company number with Companies House at present, you will need to enter the address manually</h1>
                </legend>
                {% error_summary form %}
                <form action="{{ request.get_full_path }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% block form_content %}
                        {% crispy form %}
                        <div class="govuk-button-group">
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Save and continue
                            </button>
                            {% if skip_link %}
                                <a class="govuk-link govuk govuk-!-margin-left-4" href="{% url 'tasklist' licence_pk=licence.id %}">Skip for now and return to task list</a>
                            {% endif %}
                        </div>
                        </form>
                    {% endblock form_content %}
                </fieldset>
        {% endblock column_content %}
    </div>
{% endblock row_content %}
