{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}


{% block title %}
    {% if form.errors %}
        Error:
    {% endif %}
    You've added {{ recipients|length }} recipient{% if recipients|length > 1 or recipients|length == 0 %}s{% endif %}{% endblock title %}

{% block column_content %}
    <h1 class="govuk-heading-l">
        You've added {{ recipients|length }} recipient{% if recipients|length > 1 or recipients|length == 0 %}s{% endif %}
    </h1>
    {% for recipient in recipients %}
        <div class="action-wrapper">
            <div>
                <h2 class="govuk-heading-m" style="float:left;">Recipient {{ forloop.counter }} </h2>
                <ul class="govuk-summary-card__actions">
                    <dd class="govuk-summary-list__action govuk-!-font-weight-regular">
                        <a class="govuk-link" style="font-size: 19px; text-align:right"
                           href="{% url 'where_is_the_recipient_located' licence_pk=licence.id %}?recipient_id={{recipient.id}}&change=yes">Change<span
                            class="govuk-visually-hidden"> recipient {{forloop.counter}} details </span></a>
                    </dd>
                </ul>
            </div>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value"  data-testid="recipient-name-{{ forloop.counter }}">
                    {% if recipient.name %}
                        {{ recipient.name }}
                    {% else %}
                        Not yet added
                    {% endif %}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value" data-testid="recipient-address-{{ forloop.counter }}">
                    {% if recipient.readable_address %}
                        {{ recipient.readable_address | linebreaksbr }}
                    {% else %}
                        Not yet added
                    {% endif %}
                </dd>
            </div>
            {% if recipients|length > 1 %}
                <form id="delete_recipient_form_{{ forloop.counter }}" method="post" enctype='multipart/form-data' novalidate
                      action="{% url 'delete_recipient' licence_pk=licence.id recipient_id=recipient.id %}">
                    <input type="hidden" name="recipient_id" value="{{ recipient.id }}">
                    {% csrf_token %}
                    <button type="submit" class="govuk-body button-that-looks-like-link" form="delete_recipient_form_{{ forloop.counter }}">
                        Remove Recipient {{forloop.counter }} <span
                            class="govuk-visually-hidden"> recipient {{forloop.counter}}</span>
                    </button>
                </form>
            {% endif %}
        </dl>
    {% endfor %}
    {% error_summary form %}
    <form action="{{ request.get_full_path }}" method="post" enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        {% block form_content %}
            {% crispy form %}
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    Save and continue
                </button>
                {% if skip_link %}
                    <a class="govuk-link govuk govuk-!-margin-left-4" href="{% url 'tasklist' licence_pk=licence.id %}">Skip for now and return to task list</a>
                {% endif %}
            </div>
        {% endblock form_content %}
    </form>
{% endblock column_content %}
