{% extends "core/base_form_step.html" %}
{% load crispy_forms_tags crispy_forms_gds %}


{% block title %}You've added {{ request.session.recipients.keys|length }} recipient{% if request.session.recipients.keys|length > 1 or request.session.recipients.keys|length == 0 %}s{% endif %}{% endblock title %}

{% block column_content %}
    <h1 class="govuk-heading-l">
        You've added {{ request.session.recipients.keys|length }} recipient{% if request.session.recipients.keys|length > 1 or request.session.recipients.keys|length == 0 %}s{% endif %}
    </h1>
    {% for id, recipient in request.session.recipients.items %}
        <div class="action-wrapper">
            <div>
                <h2 class="govuk-heading-m" style="float:left;">Recipient {{ forloop.counter }} </h2>
                <ul class="govuk-summary-card__actions">
                    <dd class="govuk-summary-list__action govuk-!-font-weight-regular">
                        <a class="govuk-link" style="font-size: 19px; text-align:right"
                           href="{% url 'where_is_the_recipient_located' recipient_uuid=id %}?change=yes">Change<span
                            class="govuk-visually-hidden"> recipient {{forloop.counter}} details </span></a>
                    </dd>
                </ul>
            </div>
        </div>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ recipient.cleaned_data.name }}
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    {{ recipient.cleaned_data.readable_address | linebreaksbr }}
                </dd>
            </div>
            {% if request.session.recipients.keys|length > 1 %}
                <form id="delete_recipient_form_{{ forloop.counter }}" method="post" enctype='multipart/form-data' novalidate
                      action="{% url 'delete_recipient' %}?recipient_uuid={{ id }}">
                    <input type="hidden" name="recipient_uuid" value="{{ id }}">
                    {% csrf_token %}
                    <button type="submit" class="govuk-body button-that-looks-like-link" form="delete_recipient_form_{{ forloop.counter }}">
                        Remove recipient {{forloop.counter }} <span
                            class="govuk-visually-hidden"> recipient {{forloop.counter}}</span>
                    </button>
                </form>
            {% endif %}
        </dl>
    {% endfor %}
    {% error_summary form %}
    <form action="{{ request.path }}" method="post" enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        {% crispy form %}
    </form>
{% endblock column_content %}
